* {
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
body {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-image: url('../images/789.jpg');
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  color: #fff;
  margin:0;
}

.info p {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
}
.info> p> span {
  color:#3091f4; 
}

.primary-button{
  margin-top: 30px;
  display: inline-block;
  background-color: #3091f4;
  padding: 15px 24px;
  border-radius: 6px;
  width: 200px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
}
.primary-button:hover{
  background-color: #55a6f8;
}
.primary-button:active{
  transform: scale(1.1, 1.1);
}

.cards {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  backdrop-filter: blur(2px);
}
.cards > div{
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.cards > div div{
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  width: 100%;
  transition: all .6s ease-out;
  overflow: hidden;
  height: 10%;
}
.cards > div:not(:first-child):hover div{
  height: 60%;
  animation: .3s;
  transition: height .3s ease-out;
  justify-content: top;
}
.card-item-title{
  text-align: center;
}
.card-item-body{
  padding:0 20px 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-a {
  grid-column: 1;
  grid-row: 1 / 3;
  color: #ffffff;
  padding: 20px;
  height: 400px;
  font-family: 'Raleway', sans-serif;
}
.projects-overview{
  padding: 0px 200px 50px;
  backdrop-filter: blur(2px);
}
.title {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.title:after {
  content: ""; 
  display: block; 
  width: 20%; 
  padding-top: 20px;
  border-bottom: 3px solid #55a6f8;
}
.skills{
  margin:0;
  list-style-type: none;
}
.skills>li{
  text-indent: -20px;
}
.skills>li::before{
  content: "- ";
  text-indent: -5px;
}
.gallery{
  background-origin: border-box;
  box-sizing: border-box;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../images//five.jpg');
  width: 100%;
  z-index: -1;
  padding: 0 200px 0;
  position: relative;
  padding-top: 50px;
  height: 100%;
}
.gallery::before {
  content: "";
  display: block;
  -webkit-filter: blur(1px) brightness(0.5);
  -moz-filter: blur(1px) brightness(0.5);
  -ms-filter: blur(1px) brightness(0.5);
  -o-filter: blur(1px) brightness(0.5);
  filter: blur(1px) brightness(0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  z-index: 0;
}

.carusel {
  gap: 40px;
  height: 80%;
  overflow: hidden;
}
.item{
  align-items: center;
  color: white;
  display: flex;
  height: inherit;
  justify-content: center;
}
.my {
  display: flex;
  justify-content: center;
  color: white;
  height: 700px;
}
.inha {
  display: block;
}
.card{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  margin: 10px;
  overflow: hidden;
}
.image-wrapper{
  width:700px;
  height:500px;
  overflow: hidden;
  position: relative;
  border: solid 3px transparent;
  border: 2px solid #5800f0;
  box-shadow: 0 1px 2px 2px #9658fe;
}
.image-wrapper > p {
  position: absolute;
  bottom: -30px;
  font-size:1.2em;
  background-color: rgba(0, 0, 0, 0.6) ;
  padding: 30px;
}

.EDUCATION {

  height: 100px;
  color: white;
  font-size: 20px;
  display: grid;
	place-content: center;
	position: relative;
	border: solid 1.5em rgba(#000, .03);
	
	
	box-shadow: 2px 2px 5px rgba(#000, .2), 
							2px 2px 17px rgba(#000, .35), 
							2px 2px 25px rgba(#000, .5);
	background: url('/images/seven.jpg') 50%/ cover 
								border-box /* background-origin */
								padding-box /* background-clip */;
	color: #fff;
	font: 600 1em/ 1.25 segoe script, comic sans ms, cursive;
	text-align: center;
	text-shadow: 1px 1px #000;
}
.EDUCATION::before{
  position: absolute;
		z-index: -1;
		top: -1.5em; right: -1.5em; bottom: -1.5em; left: -1.5em;
		border: inherit;
		border-color: transparent;
		background: inherit;
		background-clip: border-box;
		-webkit-filter: blur(9px);
						filter: blur(9px);
		-webkit-clip-path: inset(0);
						clip-path: inset(0);
		content: ''
}
.JOB {

  height: 100px;
  color: white;
  font-size: 20px;
  display: grid;
	place-content: center;
	position: relative;
	border: solid 1.5em rgba(#000, .03);
	
	
	box-shadow: 2px 2px 5px rgba(#000, .2), 
							2px 2px 17px rgba(#000, .35), 
							2px 2px 25px rgba(#000, .5);
	background: url('/images/four.jpg') 50%/ cover 
								border-box /* background-origin */
								padding-box /* background-clip */;
	color: #fff;
	font: 600 1em/ 1.25 segoe script, comic sans ms, cursive;
	text-align: center;
	text-shadow: 1px 1px #000;
}
.JOB::before{
  position: absolute;
		z-index: -1;
		top: -1.5em; right: -1.5em; bottom: -1.5em; left: -1.5em;
		border: inherit;
		border-color: transparent;
		background: inherit;
		background-clip: border-box;
		-webkit-filter: blur(9px);
						filter: blur(9px);
		-webkit-clip-path: inset(0);
						clip-path: inset(0);
		content: ''
}
.WORK {

  height: 100px;
  color: white;
  font-size: 20px;
  display: grid;
	place-content: center;
	position: relative;
	border: solid 1.5em rgba(#000, .03);
	
	
	box-shadow: 2px 2px 5px rgba(#000, .2), 
							2px 2px 17px rgba(#000, .35), 
							2px 2px 25px rgba(#000, .5);
	background: url('/images/one.jpg') 50%/ cover 
								border-box /* background-origin */
								padding-box /* background-clip */;
	color: #fff;
	font: 600 1em/ 1.25 segoe script, comic sans ms, cursive;
	text-align: center;
	text-shadow: 1px 1px #000;
}
.WORK::before{
  position: absolute;
		z-index: -1;
		top: -1.5em; right: -1.5em; bottom: -1.5em; left: -1.5em;
		border: inherit;
		border-color: transparent;
		background: inherit;
		background-clip: border-box;
		-webkit-filter: blur(9px);
						filter: blur(9px);
		-webkit-clip-path: inset(0);
						clip-path: inset(0);
		content: ''
}
.TRAVEL {

  height: 100px;
  color: white;
  font-size: 20px;
  display: grid;
	place-content: center;
	position: relative;
	border: solid 1.5em rgba(#000, .03);
	
	box-shadow: 2px 2px 5px rgba(#000, .2), 
							2px 2px 17px rgba(#000, .35), 
							2px 2px 25px rgba(#000, .5);
	background: url('/images/three.jpg') 50%/ cover 
								border-box /* background-origin */
								padding-box /* background-clip */;
	color: #fff;
	font: 600 1em/ 1.25 segoe script, comic sans ms, cursive;
	text-align: center;
	text-shadow: 1px 1px #000;
}
.TRAVEL::before{
  position: absolute;
		z-index: -1;
		top: -1.5em; right: -1.5em; bottom: -1.5em; left: -1.5em;
		border: inherit;
		border-color: transparent;
		background: inherit;
		background-clip: border-box;
		-webkit-filter: blur(9px);
						filter: blur(9px);
		-webkit-clip-path: inset(0);
						clip-path: inset(0);
		content: ''
}
.parent{
  display: grid;
  grid-gap:100px;
  grid-template-columns: repeat(4,1fr);
  padding: 50px;
  overflow: hidden;
}
.parent :hover {
cursor: pointer;
}